/* Carousel */
.carousel img {
  width: 100%;
}


/* Header */
.gradient {
  position: absolute;
  width: 100%;
  height: 50px;
  margin-top: -50px;
  background: linear-gradient(0deg, rgba(32,32,32,1) 0%, rgba(32,32,32,0) 100%);
}
.header {
  position: relative;
  padding: 0 10px 10px 10px;
  color: white;
  background: #222;
}
.header .poster {
  display: inline-block;
  width: 45%;
  margin-top: -20px;
}
.header .show-header {
  display: inline-block;
  width: 55%;
  padding-left: 10px;
}
.header .title {
  font-size: 140%;
  font-family: title;
  margin-top: -5px;
  margin-bottom: 5px;
}
.header .translated-title {
  font-style: italic;
}
.header .details {
  color: #aaa;
}
.header .details > div {
  margin-bottom: 5px;
}
.header .nb-episodes {
  margin-left: 18px;
}
.header .youtube,
.header .google {
  position: absolute;
}
.header .youtube {
  bottom: 27px;
  left: 240px;
  color: red;
  font-size: 44pt;
}
.header .youtube i:after {
  content: '';
  display: block;
  margin-top: -30px;
  margin-left: 10px;
  width: 25px;
  height: 20px;
  background: white;
}
.header .watched {
  position: absolute;
  bottom: 17px;
  right: 15px;
  cursor: pointer;
}
.header .google {
  bottom: 23px;
  left: 205px;
}
.header .google img {
  width: 30px;
  height: 30px;
}

/* Télérama Rating */
.header .telerama-rating {
  position: absolute;
  bottom: 23px;
  left: 300px;
}
.header .telerama-display {
  background: transparent;
  padding: 0;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
}
.header .telerama-icon {
  height: 20px;
  width: auto;
  display: block;
}
.header .telerama-edit-icon {
  color: #666;
  padding: 5px 8px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14pt;
}
.header .telerama-edit-icon:hover {
  color: #888;
}
.header .telerama-dropdown {
  position: absolute;
  top: 40px;
  left: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
  z-index: 1000;
  min-width: 100px;
}
.header .telerama-option {
  padding: 8px 12px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}
.header .telerama-option:hover {
  background: #f5f5f5;
}
.header .telerama-option:last-child {
  border-bottom: none;
}
.header .telerama-icon-small {
  height: 24px;
  width: auto;
  display: block;
}
.header .telerama-clear {
  color: #666;
  font-size: 90%;
  text-align: center;
}

/* Genres */
.genres {
  margin-top: 15px;
}
.genres li {
  display: inline-block;
  font-size: 80%;
  background: #666;
  color: #ccc;
  padding: 2px 7px;
  margin-right: 7px;
  margin-bottom: 2px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
}


/* Tag */
.tags > ul {
  display: inline-block;
}
.tags > ul li {
  display: inline-block;
}
.tags .tag {
  position: relative;
  font-size: 80%;
  background: brown;
  color: white;
  padding: 2px 12px;
  margin-right: 7px;
  margin-left: 12px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.tags .tag:before {
  content: '';
  position: absolute;
  top: 0;
  left: -12px;
  width: 0;
  height: 0;
  border-color: transparent brown transparent transparent;
  border-style: solid;
  border-width: 12px 12px 12px 0;
 }
 .tags .tag:after {
  content: '';
  position: absolute;
  top: 11px;
  left: 0;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background: #fff;
 }

 .tags #dropdown {
   display: inline-block;
 }

.tags #dropdown button {
  padding: 5px;
  border: none;
  background: none;
}
.tags #dropdown ul {
  padding: 5px;
}
.tags #dropdown li {
  display: inline-block;
}
.tags #dropdown .tag.inactive {
  background: #ccc;
  color: #666;
}
.tags #dropdown .tag.inactive:before {
  border-color: transparent #ccc transparent transparent;
}


/* Summary */
.summary .title {
  font-size: 100%;
}
.summary .title i {
  margin-right: 5px;
}
.summary .tagline {
  color: #666;
  font-family: title;
  font-style: italic;
  margin-bottom: 5px;
}
.summary .overview {
  text-align: justify;
}

