.app-gallery.scroll {
  white-space: nowrap;
  overflow-x: auto;
}
.app-gallery {
  display: flex;
}
.app-gallery.wrap {
  flex-wrap: wrap;
  justify-content: center;
}
.app-gallery li {
  position: relative;
  width: 100px;
  margin-right: 5px;
  text-align: center;
  vertical-align: top;
}
.app-gallery.wrap li {
  margin-bottom: 15px;
}
.app-gallery li a {
  display: block;
  text-decoration: none;
}
.app-gallery li img {
  width: 100px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 5px;
}
.app-gallery li .name {
  font-size: 80%;
  margin-bottom: 2px;
  white-space: normal;
}
.app-gallery li .role {
  font-size: 70%;
  color: #666;
  white-space: normal;
}
.app-gallery li .role i {
  margin-left: 2px;
}
.app-gallery li .role i:before {
  vertical-align: text-top;
}
.app-gallery li .role > span {
  display: inline-block;
  margin: 0 2px;
}
.app-gallery li .telerama-rating:after {
  content: 'T';
  color: white;
  background: #666;
  padding: 0 1px;
  margin-left: 2px
}

.app-gallery .poster-mark {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 115px;
  right: 5px;
  border-radius: 100%;
}
.app-gallery .poster-mark:before {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 2px;
  left: 0;
  color: white; 
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  text-align: center;
  line-height: 30px;
}
.app-gallery .poster-mark.watched {
  background: dodgerblue;
}
.app-gallery .poster-mark.watched:before {
  content: "\f00c";
}
.app-gallery .poster-mark.tagged {
  background: red;
}
.app-gallery .poster-mark.tagged:before {
  content: "\f02b";
}
