
<div class="body">
  <ul *ngFor="let item of tagItems; first as isFirst; last as isLast" class="app-section">
    <div class="title">
      <span>{{item.tag.label}}</span>
      <i class="fas fa-pen" (click)="renameTag(item.tag.id, item.tag.label)"></i>
    </div>
    <app-gallery [data]="item.galleryData"></app-gallery>
  </ul>
</div>

<div class="action-button create-tag" (click)="createTag()">
  <i class="fas fa-plus"></i>
</div>

<div class="action-button sort-tags sort-tags-by-rating" (click)="sortShowsByRating()">
  <i class="fas fa-sort"></i>
  <span class="button-label">7.4</span>
</div>

<div class="action-button sort-tags sort-tags-by-duration" (click)="sortShowsByDuration()">
  <i class="fas fa-sort"></i>
  <span class="button-label">96'</span>
</div>

<div class="action-button toggle-watched" (click)="toggleWatched()">
  <i class="fas fa-check"></i>
</div>

<div class="action-button show-reorder-tags" (click)="showReorderTagsPopup()">
  <i class="fas fa-sort"></i>
</div>

<div *ngIf="isShowReorderTagsPopup" class="reorder">
  <div class="reorder-container">
    <i class="fas fa-times close-reorder" (click)="closeReorderTagsPopup()"></i>
    <div cdkDropList class="reorder-list" (cdkDropListDropped)="drop($event)">
      <div class="reorder-box" *ngFor="let item of tagItems" cdkDrag>
        <div class="reorder-custom-placeholder" *cdkDragPlaceholder></div>
        {{item.tag.label}}
      </div>
    </div>
  </div>
</div>