.create-tag {
  position: fixed;
  width: 50px;
  height: 50px;
  line-height: 42px;
  right: 20px;
  bottom: 20px;
  background: brown;
  border-radius: 100%;
  color: white;
  font-size: 40px;
  text-align: center;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.75);
  z-index: 2;
}

.body {
  padding: 10px;
}
.tag {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}
.tag .title {
  margin-bottom: 5px;
  font-family: "title";
  font-weight: bold;
  color: brown;
}
.movie {
  padding: 5px;
}
