<div *ngIf="person">

  <div class="header">
    <img [src]="person.profilePath" class="poster" />
    <div class="person-header">
      <div class="name">{{person.name}}</div>
      <div class="details">
        <div *ngIf="person.birthYear">
          <i class="far fa-calendar-alt fa-left"></i>
          <span *ngIf="person.birthYear">{{person.birthYear}}</span>
          <span *ngIf="person.deathYear"> - {{person.deathYear}}</span>
        </div>
        <div *ngIf="person.birthPlace">
          <i class="fas fa-map-marker-alt fa-left"></i>
          <span>{{person.birthPlace}}</span>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="person.directions.length" class="app-section direction">
    <div class="title">Director</div>
    <app-gallery [data]="directionGalleryData"></app-gallery>
  </div>

  <div *ngIf="person.casts.length" class="app-section cast">
    <div class="title">Actor</div>
    <app-gallery [data]="castGalleryData"></app-gallery>
  </div>

  <div *ngIf="person.biography" class="app-section summary">
    {{person.biography}}
  </div>

</div>