/* Header */
.header {
  padding: 10px;
  background: #222;
}
.header img {
  display: inline-block;
  width: 45%;
  object-fit: cover;
}
.header .person-header {
  display: inline-block;
  width: 55%;
  padding-left: 10px;
  color: white;
}
.header .name {
  font-family: title;
  font-size: 140%;
  margin-bottom: 5px;
}
.header .details {
  color: #aaa;
}
.header .details > div {
  margin-bottom: 5px;
}
