<div *ngIf="person">

  <div class="header">
    <img [src]="person.profilePath" class="poster" />
    <div class="person-header">
      <div class="name">{{person.name}}</div>
      <div class="details">
        <div *ngIf="person.birthYear">
          <i class="far fa-calendar-alt fa-left"></i>
          <span>{{person.birthYear}}</span>
          <span *ngIf="person.deathYear"> - {{person.deathYear}}</span>
        </div>
        <div *ngIf="person.birthPlace">
          <i class="fas fa-map-marker-alt fa-left"></i>
          <span>{{person.birthPlace}}</span>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="person.directions.length" class="app-section app-gallery app-gallery-scroll direction">
    <div class="title">Director</div>
    <ul>
      <li *ngFor="let direction of person.directions"
        routerLink="/show/{{direction.isMovie ? 'M' : 'S'}}/{{direction.movieId}}">
        <img [src]="direction.picture" onerror="this.src='assets/empty-show.jpg'" />
        <div class="name">{{direction.title}}</div>
        <div class="role">{{direction.releaseYear}} <i class="fas fa-star"></i>{{direction.rating}}</div>
      </li>
    </ul>
  </div>

  <div *ngIf="person.casts.length" class="app-section app-gallery app-gallery-scroll cast">
    <div class="title">Actor</div>
    <ul>
      <li *ngFor="let cast of person.casts" routerLink="/show/{{cast.isMovie ? 'M' : 'S'}}/{{cast.movieId}}">
        <img [src]="cast.picture" onerror="this.src='assets/empty-show.jpg'" />
        <div class="name">{{cast.title}}</div>
        <div class="role">{{cast.releaseYear}} <i class="fas fa-star"></i>{{cast.rating}}</div>
      </li>
    </ul>
  </div>

  <div *ngIf="person.biography" class="app-section summary">
    {{person.biography}}
  </div>

</div>