.app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: #222;
  color: white;
  font-family: header;
  font-size: 24pt;
  padding: 5px;
  z-index: 2;
}
.app-header .title {
  padding-top: 12px;
}
.app-header ul {
  position: absolute;
  top: 12px;
  right: 5px;
}
.app-header li {
  display: inline-block;
  width: 45px;
  text-align: center;
  padding-top: 4px;
}
.app-header i {
  font-size: 60%;
  color: white;
}

.app-body {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0; 
}


