<div class="app-container">
  <div class="app-header">
    <div class="title">My Watchlists</div>
    <div class="switch-container">
      <label class="switch">
        <input type="checkbox" [checked]="showTypeFilter === 'S'" (change)="onSwitchToggle()">
        <span class="slider"></span>
      </label>
      <span class="switch-label switch-label-1" *ngIf="showTypeFilter === 'S'">S</span>
      <span class="switch-label switch-label-2 active" *ngIf="showTypeFilter === 'M'">M</span>
    </div>
  </div>

  <div class="app-body">
    <router-outlet></router-outlet>
  </div>

  <div class="app-footer">
    <ul>
      <li>
        <a routerLink="/" class="">
          <i class="fas fa-tags"></i>
        </a>
      </li>
      <li>
        <a routerLink="/search" class="">
          <i class="fas fa-search"></i>
        </a>
      </li>
      <li>
        <a routerLink="/recent" class="">
          <i class="fas fa-history"></i>
        </a>
      </li>
      <li>
        <a routerLink="/top-people" class="">
          <i class="fas fa-users"></i>
        </a>
      </li>
    </ul>
  </div>

</div>