.app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: #222;
  color: white;
  font-size: 24pt;
  padding: 5px;
  z-index: 2;
  display: flex;
  align-items: center;
}
.app-header .title {
  font-family: header;
  padding-top: 12px;
}

.app-header .switch-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 30px;
  gap: 10px;
  top: 5px;
}
.app-header .switch-label {
  pointer-events: none;
  position: absolute;
  top: 2px;
  font-size: 10pt;
  color: #eee;
  transition: color 0.3s;
}
.app-header .switch-label-1 {
  left: 10px;
}
.app-header .switch-label-2 {
  right: 10px;
}
.app-header .switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}
.app-header .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.app-header .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: brown;
  transition: .4s;
  border-radius: 24px;
}
.app-header .slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}
.app-header input:checked + .slider {
  background-color: darkorchid;
}
.app-header input:checked + .slider:before {
  transform: translateX(26px);
}

.app-header ul {
  position: absolute;
  top: 8px;
  right: 5px;
}
.app-header li {
  display: inline-block;
  width: 45px;
  text-align: center;
  padding-top: 4px;
}
.app-header i {
  font-size: 60%;
  color: white;
}

.app-body {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0; 
}
