<div *ngIf="movie">

  <ngb-carousel [showNavigationIndicators]="false">
    <ng-template *ngFor="let background of movie.backgrounds" ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="background">
      </div>
    </ng-template>
  </ngb-carousel>

  <div class="gradient"></div>

  <div class="header">
    <img [src]="movie.posterPath" class="poster" />
    <div class="movie-header">
      <div class="title">{{movie.title}}</div>
      <div class="details">
        <div>
          <i class="far fa-calendar-alt fa-left"></i>
          <span>{{movie.releaseYear}}</span>
        </div>
        <div>
          <i class="fas fa-star fa-left"></i>
          <span>{{movie.rating.toFixed(1)}}</span>
        </div>
      </div>
      <div class="button watched" [ngClass]="movie.watched ? 'active' : ''" (click)="toggleWatched()">
        <i class="fas fa-check"></i>
      </div>
    </div>
  </div>

  <div class="chapter tags">
    <ul>
      <li *ngFor="let tag of movie.tags" class="tag active">
        <span>{{getTag(tag).label}}</span>
        <!--<span class="delete-tag" (click)="deleteTag(tag)">x</span>-->
      </li>
    </ul>

    <div ngbDropdown id="dropdown">
      <button id="dropdownForm1" ngbDropdownToggle>
      </button>
      <ul ngbDropdownMenu aria-labelledby="dropdownForm1">
        <li *ngFor="let tag of tags" (click)="toggleTag(tag.id)">
          <div class="selected" [ngClass]="movie.tags.includes(tag.id) ? 'active' : ''">
            <i class="fas fa-check"></i>
          </div>
          <div>{{tag.label}}</div>
        </li>
      </ul>
    </div>
  </div>

  <div class="chapter body">

    <div class="section directors">
      <i class="fas fa-video"></i>
      <ul>
        <li *ngFor="let direction of movie.directions">
          <a routerLink="/person/{{direction.personId}}">{{direction.personName}}</a>
        </li>
      </ul>
    </div>

    <div class="section actors">
      <i class="fas fa-user"></i>
      <ul>
        <li *ngFor="let cast of movie.casts">
          <div class="actor">
            <a routerLink="/person/{{cast.personId}}">{{cast.personName}}</a>
          </div>
          <div class="character">{{cast.character}}</div>
        </li>
      </ul>
    </div>

    <div class="section summary">
      <i class="fas fa-quote-right"></i>
      <div class="tagline">{{movie.tagline}}</div>
      <div class="overview">{{movie.overview}}</div>
    </div>

  </div>



  <iframe width="100%" [src]="youtubeLink" allowfullscreen>
  </iframe>

</div>