img {
  width: 100%;
}
.chapter {
  border-bottom: 1px solid #ccc;
}

.gradient {
  position: absolute;
  width: 100%;
  height: 50px;
  margin-top: -50px;
  background: linear-gradient(0deg, rgba(32,32,32,1) 0%, rgba(32,32,32,0) 100%);
}

/* Header */
.header {
  position: relative;
  padding: 10px;
  font-family: title;
  color: white;
  background: #222;
}
.header .poster {
  display: inline-block;
  width: 45%;
  margin-top: -20px;
}
.header .movie-header {
  display: inline-block;
  width: 55%;
  padding-left: 10px;
}
.header .title {
  font-size: 140%;
  margin-bottom: 5px;
}
.header .details {
  color: #aaa;
}
.header .details > div {
  margin-bottom: 5px;
}
.header .button {
  position: absolute;
  bottom: 20px;
  right: 15px;
  cursor: pointer;
}


/* Tag */
.tags {
  padding: 10px;
}
.tags > * {
  display: inline-block;
}

.tags .tag {
  display: inline-block;
  padding: 3px 12px;
  margin: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #ccc;
}
.tags .tag.active {
  background: brown;
}
.tags .tag.active * {
  color: white;
}
.tags .tag .delete-tag {
  margin-left: 10px;
}

.tags #dropdown button {
  margin-left: 5px;
  padding: 5px;
  border: none;
  background: none;
  color: brown;
}
.tags #dropdown ul {
  padding: 5px;
}
.tags #dropdown li {
  padding: 5px;
}
.tags #dropdown li:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
.tags #dropdown li > * {
  display: inline-block;
}
.tags #dropdown li .selected {
  margin-right: 10px;
}
.tags #dropdown li .selected:not(.active) {
  visibility: hidden;
}


/* Body */
.body {
  padding: 15px;
}
.body .section {
  position: relative;
  margin-bottom: 20px;
  padding: 0 10px 0 35px;
}
.body .section .fas {
  position: absolute;
  top: 3px;
  left: 0;
  color: #666;
}
.body .section li {
  padding: 2px 0;
}

.actors li > div {
  display: inline-block;
  margin-right: 10px;
}
.actors .character {
  color: #666;
}
.summary .tagline {
  color: #666;
  font-family: title;
  font-style: italic;
  margin-bottom: 5px;
}
.summary .overview {
  text-align: justify;
}

