<div class="header">
  <input #searchText (keyup)="onChange(searchText.value)">
  <i class="fas fa-search"></i>
</div>

<div class="body app-gallery app-gallery-wrap">
  <ul>
    <li *ngFor="let result of results" routerLink="{{result.link}}">
      <img [src]="'http://image.tmdb.org/t/p/w500/' + result.picture" onerror="this.src='assets/empty-show.jpg'" />
      <div class="name">{{result.name}}</div>
      <div *ngIf="result.rating" class="role">{{result.releaseYear}} <i class="fas fa-star"></i>{{result.rating}}</div>
    </li>
  </ul>
</div>