@font-face {
  font-family: "title";
  src: url('sansation.ttf');
 }
 @font-face {
  font-family: "header";
  src: url('silent-asia.otf');
 }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, input {
  font-family: arial;
  font-size: 11pt;
}
ul {
  list-style-type: none;
  margin: 0;
}
body, a {
  color: #111;
  text-decoration: none;
}
img {
  vertical-align: top;
}


/* Gallery */
.app-gallery.app-gallery-scroll ul {
  white-space: nowrap;
  overflow-x: auto;
}
.app-gallery ul {
  display: flex;
}
.app-gallery.app-gallery-wrap ul {
  flex-wrap: wrap;
  justify-content: center;
}
.app-gallery li {
  width: 100px;
  margin-right: 5px;
  text-align: center;
  vertical-align: top;
}
.app-gallery.app-gallery-wrap li {
  margin-bottom: 15px;
}
.app-gallery li img {
  width: 100px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 5px;
}
.app-gallery li .name {
  font-size: 80%;
  margin-bottom: 2px;
  white-space: normal;
}
.app-gallery li .role {
  font-size: 70%;
  color: #666;
  white-space: normal;
}
.app-gallery li .role i {
  margin-left: 7px;
  margin-right: 2px;
}


/* Section */
.app-section {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.app-section .title {
  margin-bottom: 5px;
  font-size: 80%;
  color: #666;
  text-transform: uppercase;
}


/* Icons */
i,
.button i {
  font-size: 75%;
}
.fa-left {
  margin-right: 8px;
}

/* Buttons */
.button {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 100%;
  text-align: center;
}
.button i {
  color: white;
}

.button:hover {
  filter: brightness(115%);
}

.button {
  border: 1px solid;
}
.button.watched {
  border-color: dodgerblue;
}
.button.watched i {
  color: dodgerblue;
}

.button.active i {
  color: white;
}
.button.watched.active {
  background-color: dodgerblue;
}
.button.to-watch.active {
  background-color: crimson;
}

.button.home {
  background-color: #222;
}